<!-- 🔹 Student List -->
<div *ngIf="!showDetails" class="container mt-5">

  <h2 class="text-center mb-4 ">Student List</h2>
<div  class="d-flex justify-content-center">
    
  <div class="col-md-4">
 <mat-card>
       <table class="table table-bordered text-center">
    <thead class="text-center">
      <tr>
        <th>Name</th>
        <th>Details</th>
        <!-- <th>Course</th>
        <th>Action</th> -->
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let std of stdArr">
        <td>{{std.name}}</td>
        <!-- <td>{{std.age}}</td>
        <td>{{std.course}}</td> -->
        <td>
          <button (click)="onView(std)" class="btn btn-primary">
            View Details
          </button>
        </td>
      </tr>
    </tbody>
  </table>
 </mat-card>
  </div>
</div>

</div>

<!-- 🔹 Details Component -->
<div *ngIf="showDetails">

  <!-- 👇 selector use -->
  <app-student-details></app-student-details>

  <div class="text-center mt-3">
    <button (click)="onBack()" class="btn btn-secondary">
      Back
    </button>
  </div>

</div>