

<div class="container">
  <div class="row">
    <div class="col-12">
      
      <!-- <app-todos></app-todos> -->
      <!-- <app-test></app-test> -->
      <!-- <app-products></app-products> -->
      <!-- <app-todo></app-todo> -->
      <!-- <div class="app-products"></div> -->
       <!-- <app-product></app-product> -->
       <!-- <app-table></app-table> -->
       <!-- <div app-products></div> -->
      <!-- <app-student-one></app-student-one> -->
       <app-home></app-home>
       
        
    </div>
  </div>
</div>