<div class="container mt-4" *ngIf="studentObj">

  <div class="card p-3 shadow">

    <h3 class="text-center bg-primary mb-3"><strong>Student Details</strong></h3>

    <p ><strong>Name:</strong> {{studentObj.name}}</p>
    <p ><strong>Age:</strong> {{studentObj.age}}</p>
    <p ><strong>Course:</strong> {{studentObj.course}}</p>
    <p ><strong>Description:</strong> {{studentObj.Description}}</p>
    <p ><strong>City:</strong> {{studentObj.city}}</p>

    <p >
      <strong>Status:</strong>
      <span [ngClass]="{
        'text-success': studentObj.isActive,
        'text-danger': !studentObj.isActive
      }">
        {{studentObj.isActive ? 'Active' : 'Inactive'}}
      </span>
    </p>

  </div>

</div>